In [4]:
import pandas as pd

df=pd.read_csv('Cars.csv')

In [5]:
print(df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [6]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')

In [9]:
max_hp = df.loc[df['horsepower'].idxmax()]

max_hp

mpg                           16.0
cylinders                        8
displacement                 400.0
horsepower                   230.0
weight                        4278
acceleration                   9.5
model_year                      73
origin                         usa
name            pontiac grand prix
Name: 116, dtype: object

In [11]:
df['mpg'] = pd.to_numeric(df['mpg'], errors='coerce')

count = (df['mpg'] >= 35).sum()

print(count)

36

In [14]:
df['weight'] = pd.to_numeric(df['weight'], errors='coerce')

filtered = df[(df['horsepower'] > 100) & (df['weight'] < 3000)]
#filters row meeting the conditions

origin = filtered['origin'].mode()[0]

print(origin)

usa

In [16]:
df['acceleration'] =pd.to_numeric(df['acceleration'], errors='coerce')

japan_cars = df[df['origin'] == 'japan']

mean = round(japan_cars['acceleration'].mean()  , 2)
mean

np.float64(16.17)

In [18]:
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')
df['mpg'] = pd.to_numeric(df['mpg'], errors='coerce')


yearly_mpg = df.groupby('model_year')['mpg'].mean()


year_highest_mpg = yearly_mpg.idxmax()
highest_avg_mpg = yearly_mpg.max()

print(f"Year with highest average mpg: {year_highest_mpg} (Average mpg: {highest_avg_mpg:.2f})")

Year with highest average mpg: 80 (Average mpg: 33.70)